h1{
    text-align: center
}

td{
    table-layout: fixed;
    height: 100px;
    width: 100px;
}

.y{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.xy{
    border: 1px solid black;
}

.x{
    border-top:1px solid black;
    border-bottom: 1px solid black;
}

.y{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

table{
    margin:20px auto
}